@using Models;
@{
    ViewData["Title"] = "Dashboard";
}
@model IEnumerable<Lease>

<div class="table">
    @if (!ViewBag.SubscribeSuccess)
    {
        <div class="alert alert-danger mt-3 ms-5 me-5" role="alert">
            Subscribe/Unsubscribe not successful - check server logs for more info
            <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <h2>@ViewData["Title"]</h2>

    <button type="button" class="btn btn-success mb-2" onclick="location.href='@Url.Action("Create", "Subscriptions")'" title="Create New">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi mb-1 bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
        </svg>
    </button>

    <table class="table table-dark table-primary fs-6">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">TopicUrl</th>
                <th scope="col">HubUrl</th>
                <th scope="col">Last Lease</th>
                <th scope="col">Leasetime</th>
                <th scope="col">Subscribed</th>
                <th scope="col">Active</th>
                <th scope="col">Publisher</th>
                <th scope="col">Consumer</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
                    <td>@Html.DisplayFor(modelItem => item.DisplayName)</td>
                    <td>@Html.DisplayFor(modelItem => item.TopicUrl)</td>
                    <td>@Html.DisplayFor(modelItem => item.HubUrl)</td>
                    <td>@Html.DisplayFor(modelItem => item.LastLease)</td>
                    <td>@Html.DisplayFor(modelItem => item.LeaseTime)</td>
                    <td>@Html.DisplayFor(modelItem => item.Subscribed)</td>
                    <td>@Html.DisplayFor(modelItem => item.Active)</td>
                    <td>@Html.DisplayFor(modelItem => item.Publisher)</td>
                    <td>@Html.DisplayFor(modelItem => item.Consumer)</td>
                    <td>
                        <button type="button" class="m-1 btn btn-outline-warning w-100" onclick="location.href='@Url.Action("Edit", "Subscriptions", new { @id = item.Id})'" title="Edit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi mb-1 bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                            </svg>
                        </button>
                        <button type="button" class="m-1 btn btn-outline-secondary w-100" onclick="location.href='@Url.Action("Details", "Subscriptions", new { @id = item.Id})'" title="Details">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi mb-1 bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
