@using Models;
@{
    ViewData["Title"] = "Edit Subscription";
}
@model Lease

<form method="post" class="w-75">
    <h2 class="mb-4">@ViewData["Title"]</h2>
    @Html.HiddenFor(input => Model.Id)
    <div class="row mb-2">
        <label class="col-2">Name: </label>
        <input class="col-2 align-content-center" asp-for="@Model.DisplayName" type="text" value="@Model.DisplayName" />
    </div>
    <div class="row mb-2">
        <label class="col-2">TopicUrl: </label>
        <input class="col-7" asp-for="@Model.TopicUrl" type="text" value="@Model.TopicUrl" />
    </div>
    <div class="row mb-2">
        <label class="col-2">HubUrl: </label>
        <input class="col-7" asp-for="@Model.HubUrl" type="text" value="@Model.HubUrl" />
    </div>
    <div class="row mb-2">
        <label class="col-2">Active: </label>
        @Html.CheckBoxFor(input => Model.Active, new { @class = "col-1", style = "width: 30px;" })
    </div>
    <div class="row mb-2">
        <label class="col-2">Publisher: </label>
        <select class="col-3" asp-for="@Model.Publisher">
            @foreach (var item in ViewBag.Publishers)
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>
    <div class="row mb-2">
        <label class="col-2">Consumer: </label>
        <select class="col-3" asp-for="@Model.Consumer">
            @foreach (var item in ViewBag.Consumers)
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>
    <div class="row mb-2 input-group">
        <label class="col-2">Publisher Data</label>
        <textarea class="col-7 ms-1 form-control" placeholder="{}" asp-for="@Model.PublisherData" style="border-top-left-radius: 0.25rem; border-bottom-left-radius: 0.25rem;"></textarea>
    </div>
    <div class="row mb-2 input-group">
        <label class="col-2">Consumer Data</label>
        <textarea class="col-7 ms-1 form-control" placeholder="{}" asp-for="@Model.ConsumerData" style="border-top-left-radius: 0.25rem; border-bottom-left-radius: 0.25rem;"></textarea>
    </div>
    <div>
        <input type="submit" class="btn btn-primary mt-3" value="Save" />
    </div>
</form>